<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <%= link_to image_tag(image_url('deff.png')), 'http://www.deff.dk', :target => '_blank' %>
      </div>
      <div class="col-md-9">
        <%= t 'blacklight.footer.text_html', :year => Time.now.year %>
      </div>
    </div>
  </div>
</div>
