<%# default partial to display solr document fields in catalog index view -%>

<div class="row">
<div class="col-md-10">
<dl class="document-metadata dl-horizontal dl-invert">
   
  <% index_fields(document).each do |solr_fname, field| -%>
    <% if should_render_index_field? document, field %>
	    <dt class="blacklight-<%= solr_fname.parameterize %>"><%= render_index_field_label document, :field => solr_fname %></dt> 
		
	    <dd class="blacklight-<%= solr_fname.parameterize %>"><%= render_index_field_value document, :field => solr_fname %></dd>

      <% end -%>
  <% end -%>
</dl>
</div>
<div class="col-md-2">
	<div class="panel panel-default show-tools">
      <p><br></br></br></br></br></br></br></p>
    </div>
 </div>
</div>




