/*variables*/

$lightgrey: #e8e8e8;
$grey: grey;
$black: black;
$blue: blue;
$red: #E00000;
$kenkyusha-blue: #3366CC;
$kenkyusha-red: #980000;
$white: white;
$biger-fontsize: 20px;
$big-fontsize: 18px;
$medium-fontsize: 16px;
$small-fontsize: 14px;
$smaller-fontsize: 12px;
$kenkyusha-steelblue: #4682B4;



 